---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/jrinard/repos?access_token=91aae5cbcfcf25f787a9ea0af6d4602392daede5&per_page=100&sort=pushed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4863'
      X-Ratelimit-Reset:
      - '1488588650'
      Etag:
      - '"a05089d2f95f175c01c8877fe1779e2e"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/20036053/repos?sort=pushed&per_page=100&access_token=91aae5cbcfcf25f787a9ea0af6d4602392daede5&page=2>;
        rel="next", <https://api.github.com/user/20036053/repos?sort=pushed&per_page=100&access_token=91aae5cbcfcf25f787a9ea0af6d4602392daede5&page=2>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":83822770,"name":"portfolio-rails-project","full_name":"jrinard/portfolio-rails-project","owner":{"login":"jrinard","id":20036053,"avatar_url":"https://avatars1.githubusercontent.com/u/20036053?v=3","gravatar_id":"","url":"https://api.github.com/users/jrinard","html_url":"https://github.com/jrinard","followers_url":"https://api.github.com/users/jrinard/followers","following_url":"https://api.github.com/users/jrinard/following{/other_user}","gists_url":"https://api.github.com/users/jrinard/gists{/gist_id}","starred_url":"https://api.github.com/users/jrinard/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jrinard/subscriptions","organizations_url":"https://api.github.com/users/jrinard/orgs","repos_url":"https://api.github.com/users/jrinard/repos","events_url":"https://api.github.com/users/jrinard/events{/privacy}","received_events_url":"https://api.github.com/users/jrinard/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/jrinard/portfolio-rails-project","description":null,"fork":false,"url":"https://api.github.com/repos/jrinard/portfolio-rails-project","forks_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/forks","keys_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/teams","hooks_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/hooks","issue_events_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/issues/events{/number}","events_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/events","assignees_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/assignees{/user}","branches_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/branches{/branch}","tags_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/tags","blobs_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/git/refs{/sha}","trees_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/statuses/{sha}","languages_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/languages","stargazers_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/stargazers","contributors_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/contributors","subscribers_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/subscribers","subscription_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/subscription","commits_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/commits{/sha}","git_commits_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/git/commits{/sha}","comments_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/comments{/number}","issue_comment_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/issues/comments{/number}","contents_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/contents/{+path}","compare_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/merges","archive_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/downloads","issues_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/issues{/number}","pulls_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/pulls{/number}","milestones_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/milestones{/number}","notifications_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/labels{/name}","releases_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/releases{/id}","deployments_url":"https://api.github.com/repos/jrinard/portfolio-rails-project/deployments","created_at":"2017-03-03T17:15:31Z","updated_at":"2017-03-03T19:01:06Z","pushed_at":"2017-03-03T23:27:19Z","git_url":"git://github.com/jrinard/portfolio-rails-project.git","ssh_url":"git@github.com:jrinard/portfolio-rails-project.git","clone_url":"https://github.com/jrinard/portfolio-rails-project.git","svn_url":"https://github.com/jrinard/portfolio-rails-project","homepage":null,"size":167,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":70513782,"name":"Guides","full_name":"jrinard/Guides","owner":{"login":"jrinard","id":20036053,"avatar_url":"https://avatars1.githubusercontent.com/u/20036053?v=3","gravatar_id":"","url":"https://api.github.com/users/jrinard","html_url":"https://github.com/jrinard","followers_url":"https://api.github.com/users/jrinard/followers","following_url":"https://api.github.com/users/jrinard/following{/other_user}","gists_url":"https://api.github.com/users/jrinard/gists{/gist_id}","starred_ur[...]
[...]
