<div class="col-xs-12">
  <div class="flex-container">
    <div class="flex-block">

    <span class="h2-black">New Project</span>
    <%= render "form" %>

    </div><!-- flex-block end -->
  </div><!-- flex-container end -->
</div><!-- col end -->
