<div class="col-xs-12">
  <div class="flex-container">
    <div class="flex-block">

    <h1>New Project</h1>
    <%= render "form" %>

    </div><!-- flex-block end -->
  </div><!-- flex-container end -->
</div><!-- col end -->
