<h1>About</h1>


<h4>I have been a web designer for several years and continually strive to present quality web projects. In addition to quality I strive to implement new technology into my web projects. I'm committed to learning languages and frameworks. My current focus is Ruby on Rails and JavaScript with Angular.Js. I have a skill set that includes both front-end design and back-end development. I believe it's important for web applications to function efficiently and have aesthetics that attract users..</h4>


<h4>View my Github projects: https://github.com/jrinard</h4>

<h4>I am the founder of a design company called LifeSpring Design that specialize in web sites with an emphasis on solid branding and high standards of web code and design. I also do a variety of freelance projects from websites to logos to magazine publications.</h4>


<h4>
I am also passionate about my art and you can follow me on instagram @joshrinardart or you can check out my website at www.joshrinardart.com.</h4>
