<h1>About</h1>


<h4>I have been a web designer for several years and continually strive to present quality web projects. In addition to quality I strive to implement new technology into my web projects. I'm committed to learning languages and frameworks. My current focus is Ruby on Rails and JavaScript with Angular.Js. I have a skill set that includes both front-end design and back-end development. I believe it's important for web applications to function efficiently and have aesthetics that attract users..</h4>


<h4>View my Github projects: https://github.com/jrinard</h4>

<h4>I first started building websites in my teenage years and have developed a passion for code and the user experience on the web. I cultivated those skills over years into the accumulation of my own company called LifeSpring Design. I have operated as a one man shop handling projects from inception to implementation. For example I recently worked with a brand new company called Genesis Feed Products where I executed a plan to establish their corporate identity, web presence and marketing materials.

From my experience at LifeSpring Design, I realized there was a need for I realized there was a need for website to be more than an electronic brochure.  As a result, I decided to attend Epicodus’ web development program to be able to offer dynamic capabilities in my projects. I dedicated four months with forty plus hours a week learning numerous programming languages and tools. I’m comfortable with Ruby on Rails, JavaScript, as well as design. The most important skill I have been developing is the tenacity to learn and grow as a developer.
</h4>
