

<span class="h2-black">About</span>


<p>I have been a web designer for several years and continually strive to present quality design as well as new technology into my web projects. I'm committed to learning new tools, languages and skills. My focus lately has been Ruby on Rails, but I constantly strive to learn more. I have a skill set that includes both front-end design and back-end development. I believe it's important for web sites to function efficiently as well as capture the attention of the target audience. With my experience I believe I would be a great asset to your company.</p>


<p>View my Github projects: https://github.com/jrinard</p>
