@import "bootstrap-sprockets";
@import "bootstrap";


.white {
  color: #fff;
}


li {
  list-style-type: none;
}

ul {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.well {
  max-width: 400px;
}
