@import "bootstrap-sprockets";
@import "bootstrap";

* {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

h1, h2, h4 {
  color: #fff;
}

.white {
  color: #fff;
}

li {
  list-style-type: none;
}

ul {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.well {
  max-width: 400px;
}
body {
  background: linear-gradient(to bottom, #0099cc, #313067);
  min-height: 1000px;
}
